/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    background-color: black;
}

ul, li {
    list-style-type: none;
}

/* Cabeçalho */


.container__header {
    border-bottom: 2px solid whitesmoke;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    height: 60px;
}

.header__title > h2 > a {
    color: aliceblue;
    text-decoration: none;
}

.header__title > h2 > a > img {
    width: 40px;
    position: relative;
    top: -2px;
}


.header__navbar-list {
    display: flex;
    padding: 2px 0;
    justify-content: space-around;
    gap: 20px;

}

.list-item > a,
.header__login > a  {
    color: aliceblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
}

.list-item > a:hover,
.header__login > a:hover {
    color: crimson;
    background-color: aliceblue;
}


/* conteudo main */

.container {
    width: 80vw;
    margin: 10px auto;

}


.container__destaques{
    width: 100%;
    height: 80vh;
    padding: 10px;
    margin: 10px auto;
    background: no-repeat url("../img/banner_projeto_filme.jpg");
    background-size: cover;
    /* opacity: 0.99; */


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

}

.container__generos-filmes{

}

.generos-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.genero{
    border: 2px solid white;
    background-color: rgba(240, 248, 255, 0.089);
    width: 150px;
    border-radius: 20px;
    padding: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#container__cadastro {
    border: 2px solid rgba(255, 255, 255, 0.255);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container__lista-filmes {
    /* border: 2px solid white; */
}

.lista-filmes{
    display: flex;
}

.filme{
    margin: 10px;
}

.filme > img {
    width: 100%;
    max-width: 200px;
}
.filme > h3 {
    font-size: 1.2rem;
}
.filme > p {
    font-size: 1rem;
}


.salvar {
    background: crimson;
    align-self: center;
    width: 80%;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 10px;
}

.footer{
    background-color: crimson;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
